# Backend

# Compiled and temporary Python files
backend/__pycache__/
backend/*.py[cod]

# Virtual environment
venv/
backend/venv/

# Migrations (if not necessary to track)
backend/migrations/

# Environment variables
backend/.env

# Frontend

# Dependencies
frontend/node_modules/

# Environment variables
frontend/.env

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.sublime-workspace
